* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eeeeee;
}
.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.pizza_box {
  width: 360px;
  height: 528px;
  background-color: #eeeeee;
}
.image_box img {
  width: 360px;
  height: 216px;
  border-radius: 5%;
}
.image_box {
  position: relative;
  width: 360px;
  height: 216px;
}
.info_icon img {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.name_box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 15px;
}
.name1 {
  font-weight: 400px;
  font-size: 24px;
  color: #081f32;
}
.icons2 {
  display: flex;
  gap: 9px;
}
.text_box {
  font-weight: 400;
  font-size: 16px;
  color: #6e798c;
  margin-top: 30px;
  margin-left: 24px;
}
.data_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
  margin-top: 30px;
  gap: 45px;
  color: #6e798c;
}
.price_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.new_price {
  color: #081f32;
  font-weight: 400;
  font-size: 28px;
  margin-left: 20px;
}
.old_price {
  color: #f8593b;
  font-weight: 400;
  font-size: 20px;
  text-decoration: line-through;
  margin-left: 5px;
}
.order_button {
  width: 114px;
  height: 44px;
  border-radius: 4px;
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #ffffff;
  font-family: open-sans;
  font-weight: 700px;
  font-size: 14px;
  margin-left: 50px;
}
.tortellini_box {
  width: 360px;
  height: 528px;
  background-color: #eeeeee;
}
.image_box img {
  width: 360px;
  height: 216px;
  border-radius: 5%;
}
.image_box {
  position: relative;
  width: 360px;
  height: 216px;
}
.info_icon img {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.name_box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 15px;
}
.name1 {
  font-weight: 400px;
  font-size: 24px;
  color: #081f32;
}
.icons3 {
  display: flex;
  gap: 9px;
}
.text_box {
  font-weight: 400;
  font-size: 16px;
  color: #6e798c;
  margin-top: 30px;
  margin-left: 24px;
}
.data_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
  margin-top: 30px;
  gap: 45px;
  color: #6e798c;
}
.price_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.new_price {
  color: #081f32;
  font-weight: 400;
  font-size: 28px;
  margin-left: 20px;
}
.old_price {
  color: #f8593b;
  font-weight: 400;
  font-size: 20px;
  text-decoration: line-through;
  margin-left: 5px;
}
.order_button {
  width: 114px;
  height: 44px;
  border-radius: 4px;
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #ffffff;
  font-family: open-sans;
  font-weight: 700px;
  font-size: 14px;
  margin-left: 50px;
}
.cake_box {
  width: 360px;
  height: 528px;
  background-color: #eeeeee;
}
.image_box img {
  width: 360px;
  height: 216px;
  border-radius: 5%;
}
.image_box {
  position: relative;
  width: 360px;
  height: 216px;
}
.info_icon img {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.name_box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 15px;
}
.name1 {
  font-weight: 400px;
  font-size: 24px;
  color: #081f32;
}
.icons1 {
  display: flex;
  gap: 9px;
}
.text_box {
  font-weight: 400;
  font-size: 16px;
  color: #6e798c;
  margin-top: 30px;
  margin-left: 24px;
}
.data_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
  margin-top: 30px;
  gap: 45px;
  color: #6e798c;
}
.price_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.new_price {
  color: #081f32;
  font-weight: 400;
  font-size: 28px;
  margin-left: 20px;
}
.old_price {
  color: #f8593b;
  font-weight: 400;
  font-size: 20px;
  text-decoration: line-through;
  margin-left: 5px;
}
.order_button {
  width: 114px;
  height: 44px;
  border-radius: 4px;
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #ffffff;
  font-family: open-sans;
  font-weight: 700px;
  font-size: 14px;
  margin-left: 50px;
}
